.algebra-aplikacija {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
  }

  .dark-mode {
	background-color: #24272a;;
	color: #fff;
  }

  .light-mode {
	background-color: rgb(232, 173, 246);
	color: rgb(255, 251, 252);
  }
